.reset-password-page {
    margin-top: 4rem;
    width: 40%;
    align-self: center;
}

.main-container {
    border: 1px solid #999;
    border-radius: 5px;
}

.text {
    text-align: center;
}

.input {
    padding: 5px;
    padding-bottom: 0;
}

.submit-buttom{
    float: right;
}

@media screen and (max-width: 960px) {
    .reset-password-page {
        width: 60%;
    }
}

@media screen and (max-width: 460px) {
    .reset-password-page {
        width: 90%;
    }
}